<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLoggedIn">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">MyApp</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Product
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="product-list/">Product List</a></li>
              <li><a class="dropdown-item" href="add-product/">Add Product</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Shipment
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="cargo-shipment-list/">Shipment List</a></li>
              <li><a class="dropdown-item" href="add-shipment">Create Shipment</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>

        <!-- Right side -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn">Login</a>
            <a class="nav-link" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
            <!-- <a class="dropdown-item" href="cart/">🛒 Cart</a> -->

               <a href="/cart" class="cart-icon">
      🛒
      <span class="badge" *ngIf="cartCount > 0">{{ cartCount }}</span>
    </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
  <p>Ecommerce App</p>
  </div>
</body>
</html>